.footer-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 56px;
  background-color: #f5f5f5;
  text-align: center;
}

.footer-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // max-width: 1166px;
}

// @media screen and (min-width: 420px) and (max-width: 767px) {
//   .footer-container {
//     flex-direction: column;
//   }
// }

@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-container {
    max-width: 700px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer-container {
    max-width: 924px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    max-width: 1166px;
  }
}

.footer-credentials-container,
.footer-docs-container {
  text-align: left;
}

// @media screen and (min-width: 420px) and (max-width: 767px) {
//   .footer-credentials-container {
//     margin-bottom: 10px;
//   }
// }

@media screen and (max-width: 767px) {
  .footer-credentials-container {
    margin-bottom: 10px;
  }
}

.footer-social-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 98px;
}

// @media screen and (min-width: 420px) and (max-width: 767px) {
//   .footer-social-links-container {
//     margin-bottom: 10px;
//   }
// }

@media screen and (max-width: 767px) {
  .footer-social-links-container {
    margin-bottom: 10px;
  }
}

.footer-text {
  color: #5b5f60;
  font-family: 'Gilroy Regular';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.2px;
  line-height: 24px;
  text-align: left;
}

// @media screen and (min-width: 420px) and (max-width: 767px) {
//   .footer-text {
//     text-align: center;
//   }
// }

@media screen and (max-width: 767px) {
  .footer-text {
    text-align: center;
  }
}

.footer-link {
  color: #5b5f60;
  text-decoration: none;
}
