.practicum-section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 695px;
  background: transparent;
  // background-image: url(../images/spool-of-ribbon-up.png);
  // background-size: 991px 729px;
  // background-repeat: no-repeat;
  // background-position: 150% -4%;
  text-align: center;
}

@media screen and (max-width: 359px) {
  .practicum-section {
    padding-top: 87px;
  }
}

@media screen and (min-width: 768px) {
  .practicum-section {
    background-image: url(../images/spool-of-ribbon-up.png);
    background-size: 991px 729px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .practicum-section {
    background-position: -50% -4%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .practicum-section {
    background-position: 800% -4%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1359px) {
  .practicum-section {
    background-position: 180% -4%;
  }
}

@media screen and (min-width: 1360px) and (max-width: 1549px) {
  .practicum-section {
    background-position: 160% -4%;
  }
}

@media screen and (min-width: 1550px) and (max-width: 1699px) {
  .practicum-section {
    background-position: 150% -4%;
  }
}

@media screen and (min-width: 1700px) {
  .practicum-section {
    background-position: 130% -4%;
  }
}

.practicum-title {
  display: inline-block;
  width: 100%;
  max-width: 790px;
  padding-bottom: 80px;
  color: #4d5152;
  font-family: 'Orchidea Pro Regular';
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.9px;
  line-height: 48px;
  text-align: center;
}

@media screen and (max-width: 420px) {
  .practicum-title {
    line-height: 32px;
  }
}

@media screen and (max-width: 767px) {
  .practicum-title {
    max-width: 400px;
    font-size: 24px;
    letter-spacing: 0.6px;
  }
}

.practicum-title-bold {
  font-family: 'Orchidea Pro SmBd';
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.9px;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  .practicum-title-bold {
    letter-spacing: 0.6px;
  }
}

.practicum-day-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .practicum-day-card-container {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .practicum-day-card-container {
    display: inline-flex;
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .practicum-after-day-card-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .practicum-after-day-card-container {
    display: flex;
    align-items: start;
    padding-left: 145px;
  }
}

.practicum-day-card {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 533px;
  padding-top: 90px;
  padding-right: 66px;
  padding-bottom: 59px;
  padding-left: 44px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 359px) {
  .practicum-day-card {
    max-width: 280px;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 39px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 360px) and (max-width: 379px) {
  .practicum-day-card {
    max-width: 300px;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 39px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 380px) and (max-width: 419px) {
  .practicum-day-card {
    max-width: 320px;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 39px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .practicum-day-card {
    max-width: 360px;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 39px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .practicum-day-card {
    max-width: 342px;
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 40px;
  }
}

.practicum-day-card-small {
  padding-right: 54px;
  padding-bottom: 95px;
}

@media screen and (max-width: 767px) {
  .practicum-day-card-small {
    padding-right: 20px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .practicum-day-card-small {
    padding-bottom: 148px;
  }
}

@media screen and (max-width: 767px) {
  .practicum-day-card-first {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .practicum-day-card-first {
    margin-right: 17px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .practicum-day-card-first {
    margin-right: 17px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1359px) {
  .practicum-day-card-first {
    margin-right: 17px;
  }
}

@media screen and (min-width: 1360px) {
  .practicum-day-card-first {
    margin-right: 32px;
  }
}

.practicum-after-day-card {
  display: inline-block;
  width: 100%;
  background: transparent;
  text-align: left;
}

@media screen and (max-width: 359px) {
  .practicum-after-day-card {
    max-width: 300px;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 360px) and (max-width: 419px) {
  .practicum-after-day-card {
    max-width: 320px;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .practicum-after-day-card {
    max-width: 360px;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .practicum-after-day-card {
    max-width: 342px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .practicum-after-day-card {
    max-width: 533px;
    padding-top: 90px;
    padding-right: 47px;
    padding-bottom: 59px;
    padding-left: 34px;
  }
}

@media screen and (max-width: 767px) {
  .practicum-after-day-card-first {
    padding-top: 33px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .practicum-after-day-card-first {
    margin-right: 17px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1699px) {
  .practicum-after-day-card-first {
    margin-right: 135px;
  }
}

@media screen and (min-width: 1700px) and (max-width: 1919px) {
  .practicum-after-day-card-first {
    padding-left: 70px;
    margin-right: 135px;
  }
}

@media screen and (min-width: 1920px) {
  .practicum-after-day-card-first {
    padding-left: 190px;
    margin-right: 125px;
  }
}

@media screen and (max-width: 767px) {
  .practicum-after-day-card-second {
    padding-top: 33px;
  }
}

@media screen and (min-width: 768px) {
  .practicum-after-day-card-second {
    padding-left: 0;
  }
}

.practicum-day-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  display: inline-block;
  width: 100%;
  max-width: 152px;
  padding: 18px 36px 19px 33px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #59a5df 0%, #71b6eb 100%);
  color: #ffffff;
  font-family: 'Gilroy SmBd';
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.05px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.practicum-after-day-title {
  display: inline-block;
  max-width: 428px;
  padding-bottom: 29px;
  color: #4d5152;
  font-family: 'Gilroy SmBd';
  font-size: 21px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.53px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.practicum-list-item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .practicum-list-item {
    align-items: start;
  }

  .practicum-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.practicum-list-icon {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}

.practicum-list-text {
  color: #4d5152;
  font-family: 'Gilroy Regular';
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.45px;
  line-height: 36px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .practicum-list-text {
    line-height: 24px;
  }
}

.practicum-after-day-text {
  display: inline-block;
  max-width: 452px;
  padding-bottom: 31px;
  color: #4d5152;
  font-family: 'Gilroy Regular';
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.45px;
  line-height: 26px;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .practicum-after-day-text-small {
    padding-bottom: 179px;
  }
}

.practicum-after-day-text-bold {
  color: #4d5152;
  font-family: 'Gilroy SmBd';
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.45px;
  line-height: normal;
  text-transform: uppercase;
}

.practicum-after-day-text-blue {
  color: #3192dc;
}

@media screen and (max-width: 359px) {
  .practicum-after-day-text-img {
    max-width: 300px;
  }
}

@media screen and (min-width: 360px) and (max-width: 419px) {
  .practicum-after-day-text-img {
    max-width: 320px;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .practicum-after-day-text-img {
    max-width: 360px;
  }
}

.practicum-after-day-text-container {
  display: inline-block;
  width: 100%;
  max-width: 373px;
  padding: 17px 24px 16px 25px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 8px 32px rgba(8, 8, 8, 0.06);
  font-family: 'Orchidea Pro SmBd';
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media screen and (max-width: 359px) {
  .practicum-after-day-text-container {
    max-width: 276px;
    padding: 8px 12px 8px 12px;
  }
}

@media screen and (min-width: 360px) and (max-width: 379px) {
  .practicum-after-day-text-container {
    max-width: 296px;
    padding: 8px 12px 8px 12px;
  }
}

@media screen and (min-width: 380px) and (max-width: 767px) {
  .practicum-after-day-text-container {
    max-width: 336px;
    padding: 8px 12px 8px 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .practicum-after-day-text-container {
    max-width: 287px;
    padding: 8px 12px 8px 12px;
  }
}

.deal-cost-container {
  position: absolute;
  // top: 70%;
  // left: 0;
  // transform: translate(0%, 0%);
  width: 100%;
  // max-width: 2097px;
  // max-width: calc(100vw - 265px);
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .deal-cost-container {
    top: 72%;
    left: 0;
    transform: translate(0%, 0%);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1359px) {
  .deal-cost-container {
    top: 70%;
    left: 0;
    transform: translate(0%, 0%);
  }
}

@media screen and (min-width: 1360px) and (max-width: 1549px) {
  .deal-cost-container {
    top: 70%;
    left: 0;
    transform: translate(0%, 0%);
    max-width: calc(100vw - 126px);
  }
}

@media screen and (min-width: 1550px) {
  .deal-cost-container {
    top: 70%;
    left: 0;
    transform: translate(0%, 0%);
    // max-width: 2097px;
    max-width: calc(100vw - 265px);
  }
}

// @media screen and (min-width: 420px) and (max-width: 767px) {
//   .deal-cost-wrapper {
//     display: block;
//     width: 100%;
//     max-width: 420px;
//   }
// }

@media screen and (max-width: 767px) {
  .deal-cost-wrapper {
    display: block;
    width: 100%;
    max-width: 420px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .deal-cost-wrapper {
    display: block;
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .deal-cost-wrapper {
    display: flex;
    align-items: center;
  }
}

.deal-cost-manager-img-wrapper {
  width: 774px;
  // height: 925.39px;
  height: 900px;
  background-image: url(../images/minimal-home-office-interior-design.png);
  background-size: 1485px 1005px;
  // background-size: 1287px 871px;
  // background-size: 1931px 1306px;
  background-position: 43% -1030%;
  text-align: right;
}

@media screen and (max-width: 1023px) {
  .deal-cost-manager-img-wrapper {
    display: none;
  }
}

.deal-cost-manager-img {
  position: relative;
  top: 0;
  left: 0;
  // transform: translate(0%, -1.8%);
  width: 100%;
  // max-width: 644px;
  // height: 917px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .deal-cost-manager-img {
    transform: translate(0%, 18%);
    max-width: 537px;
    height: 764px;
  }
}

@media screen and (min-width: 1280px) {
  .deal-cost-manager-img {
    transform: translate(0%, -1.8%);
    max-width: 644px;
    height: 917px;
  }
}

.deal-cost-content-container {
  position: relative;
  // padding-top: 119px;
  // padding-right: 110px;
  // padding-bottom: 107px;
}

// @media screen and (min-width: 420px) and (max-width: 767px) {
//   .deal-cost-content-container {
//     padding-top: 90px;
//     padding-right: 20px;
//     padding-left: 20px;
//     padding-bottom: 81px;
//   }
// }

@media screen and (max-width: 767px) {
  .deal-cost-content-container {
    padding-top: 90px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 81px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .deal-cost-content-container {
    padding-top: 90px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 81px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .deal-cost-content-container {
    padding-top: 90px;
    padding-right: 20px;
    padding-bottom: 81px;
  }
}

@media screen and (min-width: 1280px) {
  .deal-cost-content-container {
    padding-top: 119px;
    padding-right: 20px;
    padding-bottom: 107px;
  }
}

@media screen and (min-width: 1360px) and (max-width: 1549px) {
  .deal-cost-content-container {
    padding-right: 20px;
  }
}

@media screen and (min-width: 1550px) {
  .deal-cost-content-container {
    padding-right: 110px;
  }
}

.deal-cost-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -40%);
}

@media screen and (max-width: 379px) {
  .deal-cost-img {
    transform: translate(5%, -40%);
    width: 100%;
    max-width: 260px;
  }
}

@media screen and (min-width: 380px) and (max-width: 767px) {
  .deal-cost-img {
    transform: translate(5%, -40%);
    width: 100%;
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .deal-cost-img {
    transform: translate(30%, -40%);
  }
}

.deal-cost-text-container {
  text-align: left;
}

.deal-cost-text {
  display: inline-block;
  max-width: 700px;
  padding-bottom: 20px;
  color: #4d5152;
  font-family: 'Gilroy Regular';
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.53px;
  line-height: 30px;
  text-align: left;
}

.deal-cost-text-bold {
  color: #4d5152;
  font-family: 'Gilroy SmBd';
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: normal;
}

.deal-cost-text-blue {
  color: #3192dc;
}

.deal-cost-text-underlined {
  text-decoration: underline;
}

.deal-cost-text-sm-width {
  max-width: 567px;
}

.deal-cost-text-img-container {
  padding-bottom: 40px;
  text-align: left;
}

// @media screen and (min-width: 420px) and (max-width: 767px) {
//   .deal-cost-text-img {
//     width: 100%;
//     max-width: 501px;
//   }
// }

@media screen and (max-width: 767px) {
  .deal-cost-text-img {
    width: 100%;
    max-width: 501px;
  }
}

@media screen and (min-width: 768px) {
  .deal-cost-text-img {
    width: 501px;
    height: 114px;
  }
}

.present-wrapper {
  display: flex;
  align-items: center;
}

.present-img {
  width: 100%;
  max-width: 98px;
  height: 108px;
  margin-right: 19px;
}

.deal-cost-img-container {
  position: relative;
}

.deal-cost-img-scroll {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(0%, -50%);
}

// @media screen and (min-width: 420px) and (max-width: 767px) {
//   .deal-cost-img-scroll {
//     left: 20%;
//     transform: translate(0%, -50%);
//   }
// }

@media screen and (max-width: 767px) {
  .deal-cost-img-scroll {
    left: 20%;
    transform: translate(0%, -50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .deal-cost-img-scroll {
    left: 40%;
    transform: translate(0%, -50%);
  }
}
