<div class="boost-offer-section">
  <div class="boost-offer-wrapper">
    <div>
      <img
        class="boost-offer-pre-title-img"
        src="./images/boost-pretitle-img.png"
        alt=""
      />
      <div class="boost-offer-pre-title-text">
        И чтобы у вас совсем не оставалось никаких колебаний, кроме дисконта 63
        %, прямо сейчас я
        <span class="boost-offer-underlined">делаю апгрейд предложения</span>
      </div>
    </div>
    <div class="boost-offer-title">
      Прямо сейчас, только если вы сделаете заказ на этой странице, вам будут
      доступны
      <span class="boost-offer-title-bold">БЕСПЛАТНО 5 бонусов</span>
    </div>
    <div class="boost-offer-text-container">
      <div class="boost-offer-text">
        которые ускорят ваше погружение в мир грамотного управления финансами и
        создания дополнительных источников дохода:
      </div>
      <img class="boost-arrow-img" src="./images/boost-arrow-img.png" alt="" />
    </div>
    <div class="boost-offer-cards-container">
      <div class="boost-offer-card boost-offer-card-first">
        <div class="boost-offer-imgs-container">
          <img
            class="boost-presentation-img boost-offer-card-imgs"
            src="./images/presentation.png"
            alt=""
          />
        </div>
        <div class="boost-offer-card-content-container">
          <div class="boost-offer-card-text-container">
            <div class="boost-card-number-text">01</div>
            <div class="boost-card-description-text">
              Презентация для проведения нулевой встречи с клиентом
            </div>
          </div>
          <div class="boost-card-offer-container">
            <img
              class="boost-card-offer-not-100-e-img"
              src="./images/not-100-e.png"
              alt=""
            />
            <div class="boost-card-offer-text">в подарок</div>
          </div>
        </div>
      </div>
      <div class="boost-offer-card">
        <div class="boost-offer-imgs-container">
          <img
            class="boost-agreement-example-img boost-offer-card-imgs"
            src="./images/agreement-example.png"
            alt=""
          />
        </div>
        <div class="boost-offer-card-content-container">
          <div class="boost-offer-card-text-container">
            <div class="boost-card-number-text">02</div>
            <div class="boost-card-description-text">
              Образец договора составления ЛФП и сопровождения клиента
            </div>
          </div>
          <div class="boost-card-offer-container">
            <img
              class="boost-card-offer-not-100-e-img"
              src="./images/not-100-e.png"
              alt=""
            />
            <div class="boost-card-offer-text">в подарок</div>
          </div>
        </div>
      </div>
      <div class="boost-offer-card boost-offer-card-third">
        <div class="boost-offer-imgs-container">
          <img
            class="boost-chek-list-img boost-offer-card-imgs"
            src="./images/chek-list.png"
            alt=""
          />
        </div>
        <div class="boost-offer-card-content-container">
          <div
            class="boost-offer-card-text-container boost-offer-card-text-container-small"
          >
            <div class="boost-card-number-text">03</div>
            <div class="boost-card-description-text">
              Чек-лист «Базовая информация о клиенте»
            </div>
          </div>
          <div class="boost-card-offer-container">
            <img
              class="boost-card-offer-not-50-e-img"
              src="./images/not-50-e.png"
              alt=""
            />
            <div class="boost-card-offer-text">в подарок</div>
          </div>
        </div>
      </div>
      <div class="boost-offer-card">
        <div class="boost-offer-imgs-container">
          <img
            class="boost-chek-img boost-offer-card-imgs"
            src="./images/chek.png"
            alt=""
          />
        </div>
        <div class="boost-offer-card-content-container">
          <div class="boost-offer-card-text-container">
            <div class="boost-card-number-text">04</div>
            <div class="boost-card-description-text">
              Чек-лист «Этапы составления личного финансового плана»
            </div>
          </div>
          <div class="boost-card-offer-container">
            <img
              class="boost-card-offer-not-50-e-img"
              src="./images/not-50-e.png"
              alt=""
            />
            <div class="boost-card-offer-text">в подарок</div>
          </div>
        </div>
      </div>
      <div class="boost-offer-card-special">
        <div>
          <img
            class="boost-personal-analisis-img boost-offer-card-imgs"
            src="./images/personal-analisis.png"
            alt=""
          />
        </div>
        <div class="boost-offer-card-content-container">
          <div class="boost-offer-card-text-container">
            <div class="boost-card-number-text boost-card-special-text">05</div>
            <div class="boost-card-description-text boost-card-special-text">
              Индивидуальный онлайн-разбор вашего личного финансового плана
              профессиональным финансовым советником
            </div>
          </div>
          <div class="boost-card-offer-container">
            <img src="./images/not-100-e.png" alt="" />
            <div class="boost-card-offer-text">в подарок</div>
          </div>
        </div>
        <img
          class="boost-offer-personal-consult boost-offer-card-imgs boost-offer-card-spesial-img"
          src="./images/indeed-personal-consult-img.png"
          alt=""
        />
      </div>
    </div>
    <div class="boost-offer-present-container">
      <img
        class="boost-offer-present-img"
        src="./images/icons/gift-box-with-a-bow.png"
        alt=""
      />
      <div class="boost-offer-present-text">
        Общая ценность 5 бонусов составляет
        <span class="boost-offer-present-text-bold">400 €</span>
      </div>
    </div>
    <div class="boost-offer-scroll-down-img-container">
      <img
        class="boost-offer-scroll-down-img"
        src="./images/scroll-down-arrow-img-orange.png"
        alt=""
      />
    </div>
    <div class="boost-offer-payment-container">
      <div class="boost-offer-payment-title">
        <span class="boost-offer-payment-title-bold">
          Вы их получаете В ПОДАРОК
        </span>
        при оформлении и оплате участия в практикуме «Финансовый консультант»
      </div>
      <div class="boost-offer-payment-card-container">
        <div class="boost-offer-payment-card-wrapper">
          <div class="boost-offer-payment-card boost-offer-payment-card-big">
            Стоимость участия в практикуме без скидки
          </div>
          <div class="boost-offer-payment-card boost-offer-payment-card-small">
            100 € (-63%)
          </div>
        </div>
        <div class="boost-offer-payment-card-wrapper">
          <div class="boost-offer-payment-card boost-offer-payment-card-big">
            Ценность 5 бонусов
          </div>
          <div class="boost-offer-payment-card boost-offer-payment-card-small">
            400 € (В ПОДАРОК)
          </div>
        </div>
        <div class="boost-offer-payment-card-wrapper">
          <div class="boost-offer-payment-card boost-offer-payment-card-big">
            <span class="boost-offer-payment-card-big-bold">
              Ваша инвестиция сегодня
            </span>
          </div>
          <div
            class="boost-offer-payment-card boost-offer-payment-card-small boost-offer-payment-card-small-red"
          >
            37 €
          </div>
        </div>
      </div>
      <button class="boost-offer-payment-button" boost-offer-button>
        <img src="./images/pay-take-part-in-practicum.png" alt="" />
        <div class="pop-up boost-offer-pop-up is-hiden" boost-offer-modal>
          <script
            id="287b4ddca3d4684a58eb8a03130e5b4916ddc1d8"
            src="https://university.zariafinance.ru/pl/lite/widget/script?id=682178"
          ></script>
        </div>
      </button>
      <div class="boost-offer-payment-avatar-container">
        <img
          class="boost-offer-payment-avatar"
          src="./images/head-in-circle.png"
          alt=""
        />
      </div>
      <div class="boost-offer-hand-with-phone-container">
        <img
          class="boost-offer-hand-with-phone-img"
          src="./images/phone-in-hand-and-spool.png"
          alt=""
        />
      </div>
    </div>
    <div class="boost-offer-goodby-text">
      Изобильного вам дня, и до встречи на онлайн-практикуме и, конечно, на
      эфире бесплатного семинара!
    </div>
  </div>
</div>
