<div class="consultant-section">
  <div class="title-container">
    <div class="pre-title">
      А если вам интересно узнать подробнее, чем занимаются финансовые
      консультанты и советники, как и сколько они зарабатывают, то все кратко
      рассказываю дальше
    </div>
    <div class="consult-title">
      Давайте сразу обозначу
      <span class="consult-title-bold"> 2 ключевые категории </span>
      уровней специалистов в данной отрасли:
    </div>
  </div>
  <div class="consultant-container">
    <div class="consultant-title">Финансовый консультант</div>
    <div class="consultant-step">01</div>
    <div class="consultant-text">
      <span class="consultant-text-bold consultant-text-underlined"
        >Финансовый консультант</span
      >
      помогает своим клиентам начать правильно вести учет доходов и расходов,
      увеличить положительный Cash Flow для формирования подушки безопасности,
      сбережений, инвестиций, поставить финансовую цель — это невероятно ценно,
      так как это фундамент! Без этих шагов ваши потенциальные клиенты
      <span class="consultant-text-bold consultant-text-uppercase">
        НИКОГДА НЕ СТАНУТ ФИНАНСОВО НЕЗАВИСИМЫМИ!
      </span>
    </div>
    <div class="calculation-proficiency">
      <img class="profit-icon" src="./images/icons/profit.png" alt="profit" />
      <div class="profit-text">
        Напомню, 95 % людей
        <span class="profit-text-bold">
          НЕ РАЗБИРАЮТСЯ В СВОИХ ЛИЧНЫХ ФИНАНСАХ!
        </span>
      </div>
    </div>
    <div class="start-price-text">
      Стартовая цена на рынке финансовых услуг двухчасовой консультации с
      проработкой личного финансового плана
      <span class="start-price-text-bold start-price-text-blue">
        составляет 100 €.
      </span>
      <br />
      <br />
      После прохождения практикума и защиты вашего личного финансового плана вы
      <span class="start-price-text-bold start-price-text-uppercase">
        получите сертификат
      </span>
      и сможете проводить такие консультации
    </div>
    <div class="consult-count-container">
      <img
        class="consul-count-img"
        src="./images/consult-count-img.png"
        alt="consult count"
      />
      <div class="consult-count-text">
        То есть вы провели 10 консультаций в месяц и у вас 1000 €
        дополнительного дохода!
      </div>
    </div>
    <div class="consult-offer">
      Вместе с подготовкой к консультациям на 10 онлайн-встреч с клиентами вы
      потратите часов 30 времени суммарно. Например, по 3 часа в день. И в
      течении 10 дней
      <span class="consult-offer-bold">
        дополнительная 1000 € у вас на счету.
      </span>
      По-моему, очень даже неплохо звучит, согласны?
    </div>
    <div class="consult-button-container">
      <button class="consult-button" type="button" consultant-button>
        <img
          src="./images/want-to-practicum-button.png"
          alt="want to practicum"
        />
        <div class="pop-up consultant-pop-up is-hiden" consultant-modal>
          <script
            id="287b4ddca3d4684a58eb8a03130e5b4916ddc1d8"
            src="https://university.zariafinance.ru/pl/lite/widget/script?id=682178"
          ></script>
        </div>
      </button>
      <img class="consult-arrow-img" src="./images/arrow.png" alt="arrow" />
    </div>
    <div class="extra-offer-container">
      <div class="extra-offer">
        На этом уровне вашими клиентами может быть практически любой обычный
        человек и рынок здесь бездонный.
        <span class="extra-offer-bold">
          Но есть повыше уровень квалификации специалиста в этой сфере.
        </span>
      </div>
    </div>
    <img
      class="scroll-down-img"
      src="./images/scroll-down-arrow-img.png"
      alt="scroll down arrow"
    />
  </div>
  <div class="consult-ipad-img-container">
    <img class="consult-ipad-img" src="./images/ipad.png" alt="" />
  </div>
  <div class="advisor-container">
    <div class="advisor-img-container">
      <img
        class="advisor-img"
        src="./images/avacode-horizontal-book.png"
        alt="horisontal book"
      />
    </div>
    <div class="advisor-text-container">
      <div class="advisor-button-container">
        <button class="advisor-button">Финансовый советник</button>
        <span class="advisor-step">02</span>
      </div>
      <div class="advisor-text">
        <span class="advisor-text-bold advisor-text-underlined">
          Финансовый советник
        </span>
        занимается налоговым, имущественным, пенсионным и инвестиционным
        планированием, решает различные финансовые и страховые вопросы.
        <br />
        <br />
        <span class="advisor-text-bold">Помогает клиентам</span>
        безопасно сохранять и приумножать деньги, подбирает наилучшие
        инвестиционные решения под цели и задачи клиентов. Он нужен не только
        тем, кто обладает целым капиталом, но и тем, кто просто хочет научиться
        распоряжаться деньгами грамотно.
      </div>
      <div class="buisness-men-container">
        <img
          class="business-men-icon"
          src="./images/icons/multiple-users-silhouette.png"
          alt="buisiness men"
        />
        <div class="business-man-text">
          Здесь уже основные клиенты —
          <span class="business-man-text-bold">
            предприниматели, блогеры, топ-менеджеры
          </span>
          и люди с достатком выше среднего.
        </div>
      </div>
      <div class="success-story">
        <span class="success-story-bold">
          Помните про моего друга с оборотом компании в 22 млн евро в месяц?
        </span>
        Если даже он сам приравнял к 0 свою финансовую грамотность, то что
        говорить о людях с ежемесячным доходом в 5-10 тыс. евро? Это как раз
        самая большая категория клиентов для
        <span class="success-story-bold">финансовых советников.</span>
      </div>
    </div>
  </div>
  <div class="escort-text-container">
    Стоимость сопровождения 1 клиента в месяц
    <span class="escort-text-bold">
      стартует от 1000 € — это зачастую 4 онлайн-консультации.
    </span>
    И таких клиентов можно
    <span class="escort-text-bold"> вести 3, 5, 10 одновременно! </span>
  </div>
  <div class="requirements-container">
    <div class="requirements-text-container">
      <div class="requirements-text">
        Но чтобы достичь такого уровня, нужно пройти обучение в течение 3
        месяцев у нас в Университете Финансовых Советников, сдать аттестацию и
        получить диплом о повышении квалификации.
        <br />
        <br />
        <span class="requirements-text-bold"
          >В ообщем, подготовка тут нужна серьезная,</span
        >
        которую и получают студенты нашего университета и начинают
        <span class="requirements-text-bold requirements-text-blue">
          сами зарабатывать 5-10 тыс. евро
        </span>
        и сразу грамотно управлять своими финансами
      </div>
      <img
        class="requirements-text-img"
        src="./images/requirements-img.png"
        alt="requirements"
      />
      <div class="requirements-add-text">
        А так как они хорошо разбираются в инвестиционных инструментах, то они
        начинают инвестировать, форми- ровать свой капитал и достигать своих
        инвестиционных целей
      </div>
    </div>
    <img class="requirements-img" src="./images/img-0466.png" alt="" />
  </div>
  <div class="call-to-action-container">
    Но не все сразу, конечно.
    <br />
    <br />
    Итак, на 2-дневном практикуме
    <span class="call-to-action-bold">
      вы получите все необходимые знания для квалификации «Финансовый
      консультант», сможете управлять своими финансами грамотно и создать
      дополнительный источник дохода от 1000 € в месяц —
    </span>
    нажимайте на кнопку и бронируйте место на практикуме
    <span class="call-to-action-bold call-to-action-underlined">
      на самых выгодных условиях!
    </span>
  </div>
  <div class="button-container">
    <button class="call-to-action-button" consultant2-button>
      <img
        class="call-to-action-button-img"
        src="./images/take-part-in-practicum-button.png"
        alt="take part in practicum"
      />
      <div class="pop-up consultant2-pop-up is-hiden" consultant2-modal>
        <script
          id="287b4ddca3d4684a58eb8a03130e5b4916ddc1d8"
          src="https://university.zariafinance.ru/pl/lite/widget/script?id=682178"
        ></script>
      </div>
    </button>
    <img class="arrow-wite" src="./images/arrow-wite.png" alt="arrow" />
  </div>
</div>
