<div class="footer-section">
  <div class="footer-container">
    <div class="footer-credentials-container">
      <div class="footer-text">© ИНН: 381258435920</div>
      <div class="footer-text">по всем вопросам обращайтесь:</div>
      <div class="footer-text">info@zaryafinance.ru</div>
      <div class="footer-text">Все права защищены | 2022</div>
    </div>
    <div class="footer-social-links-container">
      <a class="footer-link" href="http://">
        <img src="./images/icons/telegram-icon.png" alt="" />
      </a>
      <a class="footer-link" href="http://">
        <img src="./images/icons/instagram-icon.png" alt="" />
      </a>
    </div>
    <div class="footer-docs-container">
      <div class="footer-text">
        <a class="footer-link" href="http://"> Политика конфиденциальности </a>
      </div>
      <div class="footer-text">
        <a class="footer-link" href="http://"> Договор оферты </a>
      </div>
    </div>
  </div>
</div>
