<div class="header">
  <div class="container">
    <img class="logo" src="./images/company-logo.png" alt="logo" />
  </div>
  <div class="container consult">
    <button class="header-consult-button" type="button">
      фининсовый консультант
    </button>
  </div>
  <div class="container header-text">
    <div class="header-title">Пробуждение</div>
    <div class="sub-title">финансового потока</div>
  </div>
  <div class="container action">
    <button class="action-button" type="button" header-button>
      <img src="./images/take-part-button.png" alt="take part" />
      <div class="pop-up header-pop-up is-hiden" header-modal>
        <script
          id="287b4ddca3d4684a58eb8a03130e5b4916ddc1d8"
          src="https://university.zariafinance.ru/pl/lite/widget/script?id=682178"
        ></script>
      </div>
    </button>
  </div>
</div>
