<div class="participation-section">
  <div class="participation-title-container">
    <div class="participation-title">
      <span class="participation-title-bold">Итак, ваши условия участия</span>
      в двухдневном онлайн-практикуме
    </div>
  </div>
  <div class="participation-fin-consult-container">
    <div class="participation-fin-consult-title">«Финансовый консультант»</div>
    <div>
      <img
        class="participation-fin-consult-img"
        src="./images/not-100-e.png"
        alt=""
      />
    </div>
    <div class="participation-price-text">37 €</div>
    <div class="participation-counter-container">
      <div class="participation-counter-item">
        <div class="participation-counter-numbers">
          <div>00</div>
          <div class="participation-counter-text">дней</div>
        </div>
        <div class="participation-counter-symbol">:</div>
      </div>
      <div class="participation-counter-item">
        <div class="participation-counter-numbers">
          <div>03</div>
          <div class="participation-counter-text">часов</div>
        </div>
        <div class="participation-counter-symbol">:</div>
      </div>
      <div class="participation-counter-item">
        <div class="participation-counter-numbers">
          <div>23</div>
          <div class="participation-counter-text">минут</div>
        </div>
        <div class="participation-counter-symbol">:</div>
      </div>
      <div class="participation-counter-item participation-counter-item-last">
        <div class="participation-counter-numbers">08</div>
        <div class="participation-counter-text">секунд</div>
      </div>
    </div>
    <button class="participation-counter-button" participation-button>
      <img
        class="participation-counter-button-img"
        src="./images/take-part-in-practicum-button.png"
        alt="take part in practicum"
      />
      <div class="pop-up participation-pop-up is-hiden" participation-modal>
        <script
          id="287b4ddca3d4684a58eb8a03130e5b4916ddc1d8"
          src="https://university.zariafinance.ru/pl/lite/widget/script?id=682178"
        ></script>
      </div>
    </button>
  </div>
  <div class="participation-hand-discount-container">
    <img
      class="participation-hand-discount-img"
      src="./images/hand-with-discount.png"
      alt=""
    />
  </div>
  <div class="participation-you-get-wrapper">
    <div class="participation-you-get">
      <div class="participation-you-get-title">
        <span class="participation-you-get-title-bold">Что вы получаете</span>
        в итоге:
      </div>
      <div class="participation-you-get-list-item">
        <img
          class="participation-verified-img"
          src="./images/icons/verified.png"
          alt="verified"
        />
        <span class="participation-you-get-list-text"
          >Доступ к трансляциям онлайн-практикума</span
        >
      </div>
      <div class="participation-you-get-list-item">
        <img
          class="participation-verified-img"
          src="./images/icons/verified.png"
          alt="verified"
        />
        <span class="participation-you-get-list-text"
          >Записи уроков на 10 дней</span
        >
      </div>
      <div class="participation-you-get-list-item">
        <img
          class="participation-verified-img"
          src="./images/icons/verified.png"
          alt="verified"
        />
        <span class="participation-you-get-list-text">
          Все необходимые раздаточные материалы: рабочие тетради, таблицы и пр.
        </span>
      </div>
      <div class="participation-you-get-list-item">
        <img
          class="participation-verified-img"
          src="./images/icons/verified.png"
          alt="verified"
        />
        <span class="participation-you-get-list-text">
          Проверка домашних заданий куратором
        </span>
      </div>
      <div class="participation-you-get-list-item">
        <img
          class="participation-verified-img"
          src="./images/icons/verified.png"
          alt="verified"
        />
        <span class="participation-you-get-list-text-bold">
          Возможность трансформировать свою финансовую реальность!
        </span>
      </div>
      <img
        class="participation-good-deal-img"
        src="./images/good-deal-img.png"
        alt=""
      />
      <div class="participation-finance-list-item">
        <img
          class="participation-finance-icon"
          src="./images/icons/finance.png"
          alt=""
        />
        <span class="participation-you-get-list-text">
          Вот что может произойти, если вы позволите мне помочь вам заложить
          фундамент вашего благосостояния.
        </span>
      </div>
    </div>
    <div>
      <img
        class="participation-you-get-img"
        src="./images/free-responsive-screen-devices.png"
        alt=""
      />
    </div>
  </div>
  <div class="participation-benefits-title">
    Возможно, благодаря этому решению сейчас
    <span class="participation-benefits-title-bold">вы сможете в будущем:</span>
  </div>
  <div class="participation-benefits-container">
    <div class="participation-benefits-left-container">
      <div class="participation-benefits-left-item">
        <img
          class="participation-benefits-icon"
          src="./images/icons/shield-icon.png"
          alt=""
        />
        <div>
          <div class="participation-benefits-item-title">
            Создать подушку безопасности
          </div>
          <div class="participation-benefits-text">
            и никогда не сталкиваться с ситуацией, когда реально просто нет
            денег
          </div>
        </div>
      </div>
      <div class="participation-benefits-left-item">
        <img
          class="participation-benefits-icon"
          src="./images/icons/hand-coin-icon.png"
          alt=""
        />
        <div>
          <div class="participation-benefits-item-title">
            Избавиться от финансовой зависимости
          </div>
          <div class="participation-benefits-text">
            от других людей (муж, жена, родители, друзья, начальник)
          </div>
        </div>
      </div>
      <div class="participation-benefits-left-item">
        <img
          class="participation-benefits-icon"
          src="./images/icons/vacation-icon.png"
          alt=""
        />
        <div>
          <div class="participation-benefits-item-title">
            Обрести финансовую независимость
          </div>
          <div class="participation-benefits-text">
            выйти из крысиных бегов 24/7, уволиться с нелюбимой работы и
            заниматься делом по душе
          </div>
        </div>
      </div>
      <div
        class="participation-benefits-left-item participation-benefits-item-last"
      >
        <img
          class="participation-benefits-icon"
          src="./images/icons/finance-grow-icon.png"
          alt=""
        />
        <div>
          <div class="participation-benefits-item-title">
            Создать дополнительный источник дохода
          </div>
          <div class="participation-benefits-text">от 1000 € в месяц</div>
        </div>
      </div>
    </div>
    <div>
      <div class="participation-benefits-right-item">
        <img
          class="participation-benefits-icon"
          src="./images/icons/home-shield-icon.png"
          alt=""
        />
        <div>
          <div class="participation-benefits-item-title">Погасить ипотеку</div>
          <div class="participation-benefits-text">или автокредит</div>
        </div>
      </div>
      <div class="participation-benefits-right-item">
        <img
          class="participation-benefits-icon"
          src="./images/icons/car-icon.png"
          alt=""
        />
        <div>
          <div class="participation-benefits-item-title">
            Накопить на крупные покупки
          </div>
          <div class="participation-benefits-text">
            (автомобиль, недвижимость)
          </div>
        </div>
      </div>
      <div class="participation-benefits-right-item">
        <img
          class="participation-benefits-icon"
          src="./images/icons/loan-icon.png"
          alt=""
        />
        <div>
          <div class="participation-benefits-item-title">
            Рассчитаться с долгами
          </div>
          <div class="participation-benefits-text">
            (кредитные карты, микрозаймы, личные займы)
          </div>
        </div>
      </div>
      <div class="participation-benefits-right-item">
        <img
          class="participation-benefits-icon"
          src="./images/icons/aducation-icon.png"
          alt=""
        />
        <div>
          <div class="participation-benefits-item-title">
            Оплатить качественное образование
          </div>
          <div class="participation-benefits-text">своим детям</div>
        </div>
      </div>
      <div
        class="participation-benefits-right-item participation-benefits-item-last"
      >
        <img
          class="participation-benefits-icon"
          src="./images/icons/roket-icon.png"
          alt=""
        />
        <div>
          <div class="participation-benefits-item-title">
            Сформировать капитал
          </div>
          <div class="participation-benefits-text">
            который будет передаваться в наследство многим поколениям вашего
            рода
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="participation-worth-it-container">
    <img
      class="participation-worth-it"
      src="./images/is-worth-that.png"
      alt=""
    />
  </div>
</div>
