<div class="practicum-section">
  <div class="practicum-title">
    Вот наш с вами план на онлайн-практикум
    <span class="practicum-title-bold">«ФИНАНСОВЫЙ КОНСУЛЬТАНТ»</span>
  </div>
  <div class="practicum-day-card-container">
    <div class="practicum-day-card practicum-day-card-first">
      <div class="practicum-day-title">День #1</div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text">Денежное мышление</span>
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text"
          >Учет доходов и расходов по категориям
        </span>
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text">
          Диагностика личных финансов: куда уходят деньги?
        </span>
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text">Правило «сначала заплати себе»</span>
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text"
          >Разбираемся с кредитами и долгами</span
        >
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text">Дополнительные источники дохода</span>
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text"
          >Формирование положительного Cash Flow</span
        >
      </div>
    </div>
    <div class="practicum-day-card practicum-day-card-small">
      <div class="practicum-day-title">День #2</div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text">
          Откуда приходят клиенты на консультации?
        </span>
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text">
          Как проводить нулевую встречу с клиентом?
        </span>
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text">Личный финансовый план</span>
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text">Горизонт планирования</span>
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text">
          План достижения инвестиционной цели
        </span>
      </div>
      <div class="practicum-list-item">
        <img
          class="practicum-list-icon"
          src="./images/icons/verified.png"
          alt="verified icon"
        />
        <span class="practicum-list-text">Принцип «Хочу, ДЕЛАЮ, получаю»</span>
      </div>
    </div>
  </div>
  <div class="practicum-after-day-card-container">
    <div class="practicum-after-day-card practicum-after-day-card-first">
      <div class="practicum-after-day-title">
        Представьте, что после первого дня
      </div>
      <div class="practicum-after-day-text practicum-after-day-text-small">
        у вас полностью складывается картинка, как вам
        <span class="practicum-after-day-text-bold"> реструктуризировать </span>
        свои личные финансы так, чтобы вы могли начать создавать подушку
        финансовой безопасности и ваш инвестиционный капитал.
      </div>
      <div class="practicum-after-day-text-container">
        Напомню, это то, чего не понимают и НЕ ДЕЛАЮТ 95% людей!
      </div>
    </div>
    <div class="practicum-after-day-card practicum-after-day-card-second">
      <div class="practicum-after-day-title">
        А на втором дне вы поставили свою инвестиционную цель
      </div>
      <div class="practicum-after-day-text">
        построили план ее достижения, составили ваш личный финансовый план — и
        вам впервые четко и ясно стало понятно,
        <span
          class="practicum-after-day-text-bold practicum-after-day-text-blue"
        >
          ЧТО И КАК ДЕЛАТЬ,
        </span>
        чтобы ваши финансовые цели превратились в реальность!
        <br />
        <br />
        И кроме этого, вы понимаете, как консультировать ваших клиентов, и у вас
        есть все необходимое, чтобы начать свою консультационную практику...
      </div>
      <img
        class="practicum-after-day-text-img"
        src="./images/after-2-day.png"
        alt="after second day"
      />
    </div>
  </div>
  <div class="deal-cost-container">
    <div class="deal-cost-wrapper">
      <div class="deal-cost-manager-img-wrapper">
        <img
          class="deal-cost-manager-img"
          src="./images/img-0602.png"
          alt="manager"
        />
      </div>
      <div class="deal-cost-content-container">
        <img
          class="deal-cost-img"
          src="./images/how-much-deal-cost.png"
          alt="how much deal must cost"
        />
        <div class="deal-cost-text-container">
          <div class="deal-cost-text">
            С учетом того, что это групповое мероприятие, а не моя личная
            консультация, то я решила не ставить слишком высокую стоимость.
            <br />
            <br />
            Думаю, цена за участие в практикуме в
            <span class="deal-cost-text-bold">100 €</span> будет доступной для
            большинства, но вполне оправданной.
          </div>
          <div class="deal-cost-text-img-container">
            <img
              class="deal-cost-text-img"
              src="./images/question.png"
              alt="is it good for you?"
            />
          </div>
          <div class="deal-cost-text">
            <span class="deal-cost-text-bold deal-cost-text-blue">
              Но! Сегодня у меня есть очень хорошее известие для вас!
            </span>
            <br />
            <br />
            Так как вы зарегистрировались на мой онлайн-семинар по погружению в
            профессию «Финансовый советник», и у вас точно есть неподдельный
            интерес к этой сфере,
            <span class="deal-cost-text-bold">
              я прямо сейчас хочу вас в этом поддержать.
            </span>
          </div>
          <div class="present-wrapper">
            <img class="present-img" src="./images/present.png" alt="present" />
            <div class="deal-cost-text deal-cost-text-sm-width">
              И поэтому только до старта онлайн-семинара я открою для вас такие
              условия участия в практикуме, которых до этого момента
              <span class="deal-cost-text-bold deal-cost-text-underlined">
                не было НИКОГДА!
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="deal-cost-img-container">
      <img
        class="deal-cost-img-scroll"
        src="./images/scroll-down-arrow-img-orange.png"
        alt="scroll down"
      />
    </div>
  </div>
</div>
