<div class="special-offer-section">
  <div class="special-offer-title">
    А давайте я вообще
    <span class="special-offer-title-bold">сниму с вас все риски!</span>
  </div>
  <div class="special-offer-subtitle-container">
    <img
      class="special-offer-wreath wreath-left"
      src="./images/wreath-left.png"
      alt=""
    />
    <div class="special-offer-subtitle">
      Я настолько уверена в качестве абсолютно всех курсов Университета
      Финансовых Советников и данного конкретного онлайн-практикума «Финансовый
      консультант», что
      <span class="special-offer-subtitle-bold"> даю вам 100% гарантию </span>
    </div>
    <img
      class="special-offer-wreath wreath-right"
      src="./images/wreath-right.png"
      alt=""
    />
  </div>
  <div class="guarantee-proof-container">
    <div class="guarantee-proof-title">100% ГАРАНТИЯ ВОЗВРАТА</div>
    <div class="guarantee-text guarantee-main-text">
      Если вы пройдете 2 дня практикума и поймете, что это не для вас, или вас
      что-то не устроит, вы сможете запросить возврат всех уплаченных средств,
      просто отправив сообщение в нашу службу поддержки.
    </div>
    <div class="guarantee-text guarantee-additional-text">
      Возврат полной суммы за участие вам будет отправлен в течение 3-5 рабочих
      дней.
    </div>
    <div class="guarantee-spesial-text-container">
      <div class="guarantee-spesial-text">Екатерина Заря</div>
      <img
        class="guarantee-signature"
        src="./images/catherine-the-great-signature.png"
        alt=""
      />
    </div>
  </div>
  <img class="spesial-offer-big-pen-img" src="./images/big-pen.png" alt="" />
  <div>
    <button class="spesial-offer-button" special-offer-button>
      <img
        class="spesial-offer-button-img"
        src="./images/take-part-in-practicum-button.png"
        alt=""
      />
      <div class="pop-up special-offer-pop-up is-hiden" special-offer-modal>
        <script
          id="287b4ddca3d4684a58eb8a03130e5b4916ddc1d8"
          src="https://university.zariafinance.ru/pl/lite/widget/script?id=682178"
        ></script>
      </div>
    </button>
  </div>
  <div class="spesial-offer-scroll-down-img-container">
    <img
      class="spesial-offer-scroll-down-img"
      src="./images/scroll-down-arrow-img.png"
      alt=""
    />
  </div>
</div>
