<div class="you-get-section">
  <div class="card-container">
    <div class="card card-knowlage">
      <img
        class="you-get-img"
        src="./images/you-get-img.png"
        alt="cheked sircle"
      />
      <div class="you-get-title title-knowlage">
        Вы научитесь основам финансовой грамотности
      </div>
      <div class="card-text text-knowlage">
        создадите свой личный финансовый план и разберете его вместе с
        профессиональным финансовым советником
      </div>
    </div>
    <div class="card card-sertificate">
      <img
        class="you-get-img"
        src="./images/you-get-img.png"
        alt="cheked sircle"
      />
      <div class="you-get-title title-sertificate">
        Вы получите уникальную базу знаний и сертификат
      </div>
      <div class="card-text text-sertificate">
        после защиты вашего личного финансового плана, который позволит вам
        консультировать по личным финансам ваших клиентов и дополнительно
        зарабатывать <span class="card-text-bold">от 1000 € в месяц</span>
      </div>
    </div>
  </div>
  <div class="consult-container">
    <img
      class="consult-img"
      src="./images/consult-clients.png"
      alt="consult question"
    />
    <div class="consult-special-text-container">
      <div class="consult-special-text-wrapper consult-text">
        <div class="consult-avatar-layer-img-container">
          <img
            class="consult-avatar-layer-img"
            src="./images/icons/avatar-layer-icon.png"
            alt=""
          />
        </div>
        Так-так, погодите. Консультировать клиентов?
        <img
          class="consult-question-img"
          src="./images/question-img.png"
          alt=""
        />
      </div>
    </div>
    <div class="consult-text">
      Это выбор каждого, но я могу вам сказать, что абсолютно
      <span class="consult-text-bold">неважно, какое у вас образование</span>
      или
      <span class="consult-text-bold">
        насколько хорошо вы разбираетесь в финансовых рынках,
      </span>
      вы сможете на
      <span class="consult-text-bold">БАЗОВОМ </span>
      уровне помогать людям приводить в порядок их личные финансы.
      <br />
      <br />
      Или вы можете никого не консультировать, а пройти практикум
      <span class="consult-text-bold">для себя </span>
      и сначала разобраться в своих личных финансах. И это
      <span class="consult-text-bold"
        >УЖЕ БУДЕТ САМЫМ ПОЛЕЗНЫМ ВАШИМ РЕШЕНИЕМ
      </span>
      за последнее время, которое может вообще
      <span class="consult-text-bold blue">стать судьбоносным </span>
      в вашей жизни!
    </div>
    <div class="you-deside-text">Решать вам!</div>
  </div>
  <div class="you-get-button-container">
    <button class="button-for-myself" you-get-button1>
      <img src="./images/go-for-myself-button.png" alt="go for myself" />
    </button>
    <button class="button-for-add-income" you-get-button2>
      <img src="./images/for-add-income-button.png" alt="" />
    </button>
    <div class="pop-up you-get-pop-up is-hiden" you-get-modal>
      <script
        id="287b4ddca3d4684a58eb8a03130e5b4916ddc1d8"
        src="https://university.zariafinance.ru/pl/lite/widget/script?id=682178"
      ></script>
    </div>
  </div>
</div>
